.rows-detalhes {
  border-bottom: 1px solid #dddddd;
}

.col-ct-img-detalhes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dddddd;
}

.ct-img-detalhes {
  width: 80%;
  max-width: 500px !important;
  max-height: 500px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ct-img-detalhes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ct-thambs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
  padding-right: 8px;
}

.thamb {
  max-width: 80px;
  max-height: 80px;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.thamb:hover {
  box-shadow: 0px 0px 4px #dddddd, inset 0px 0px 4px #dddddd;
  cursor: pointer;
}

.thamb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.ct-percent-desconto {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  margin-right: 4px;
  margin-top: 4px;
  border-radius: 2px;
  background-color: #0e1627;
  font-size: 11px;
  font-weight: 600;
  color: #e6eef8;
  box-shadow: 0px 0px 2px #0e1627;
}

.col-ct-pre-info {
  padding: 0px 8px;
  position: sticky;
}

.title-product-detalhes {
  font-size: 20px;
  font-weight: 600;
  color: #404040;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}

.ct-price-detallhes {
  display: flex;
  flex-direction: column;
}

.valor-venda-detalhes {
  font-size: 14px;
  font-weight: 600;
  color: #ff0000;
  text-decoration: line-through;
  opacity: 0.8;
}

.valor-off-detalhes {
  font-size: 28px;
  font-weight: 700;
  color: #1eb368;
  text-shadow: 0px 0px 2px #1eb368;
}

.txt-valor-off {
  font-size: 13px;
  font-weight: 600;
  color: #404040;
  text-shadow: 0px 0px 1px #404040;
}

.qtd-disponivel {
  font-size: 13px;
  font-weight: 600;
  color: #818181;
  padding: 4px 0px;
  margin-bottom: 4px;
}

.txt-esgotado-detalhes {
  font-size: 13px;
  font-weight: 600;
  color: #db4c4c;
  padding: 8px 0px;
}

.btn-add-to-cart {
  width: 300px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #172646;
  border-radius: 4px;
  color: #e6eef8;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
  margin-bottom: 8px;
}

.btn-add-to-cart:hover {
  opacity: 1;
  color: #ffffff;
  background-color: #0e1627;
  cursor: pointer;
  box-shadow: 0px 0px 3px #0e1627;
  text-shadow: 0px 0px 1px #ffffff;
}

.view-to-details {
  font-size: 13px;
  font-weight: 600;
  color: #2d3f57;
  padding: 8px 0px;
  opacity: 0.8;
}

.view-to-details:hover {
  opacity: 1;
  cursor: pointer;
  color: #0e1627;
  text-shadow: 0px 0px 1px #0e1627;
}

.ct-pre-info {
  padding: 4px;
}

.title-pre-info {
  font-size: 14px;
  font-weight: 600;
  color: #404040;
  padding: 4px 0px;
}

.title-intens {
  font-size: 20px;
  font-weight: 600;
  color: #404040;
}

.txt-info-tec {
  padding: 4px;
}

.container-rell {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 8px;
}

.title-products-rell {
  font-size: 20px;
  font-weight: 600;
  color: #404040;
  padding: 4px 0px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.09);
}

.ct-modal-compra {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal-content {
  margin-top: 10%;
  min-width: 300px;
  max-width: 500px;
  background-color: #e6e5e5;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #0e1627;
  font-size: 16px;
  font-weight: 600;
  color: #e6eef8;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.close-modal {
  opacity: 0.8;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e6eef8;
}

.close-modal:hover {
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
  text-shadow: 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #e6eef8;
}

.modal-bory {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.txt-info-location {
  font-size: 14px;
  font-weight: 600;
  background-color: #ffffff;
  color: #404040;
  padding: 4px;
}

.ct-box-modal-info {
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: #ffffff;
  margin-top: 8px;
}

.titles-infos {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 2px;
  background-color: #ffffff;
  color: #404040;
  border-bottom: 1px solid #dddddd;
}

.lines-infos {
  padding: 4px;
  font-size: 13px;
  font-weight: 600;
  color: #818181;
}

.show-modal-compra {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .ct-img-detalhes {
    width: 80%;
    height: auto;
  }
  .rows-detalhes {
    border-bottom: 0px;
  }
  .col-ct-img-detalhes {
    border-right: 0px;
  }
  .btn-add-to-cart {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .ct-modal-compra {
    padding-left: 30px;
    padding-right: 30px;
  }
  .modal-content {
    width: 100% !important;
    min-width: 0px;
  }
}

/*# sourceMappingURL=detalhes.css.map */
