// Color App
$color-app: #0e1627;
$color-media: #172646;
$color-clara: #2d3f57;
$color-cinza: #e6e5e5;

// Colors font
$color-font: #e6eef8;
$color-white: #ffffff;
$color-font-escura: #404040;
$color-hover-fonte-escura: #2e2d2d;
$color-font-cinza: #818181;
// Borders
$border-gray: rgb(64, 64, 64, .09);
$border-cinza: #dddddd;

// Colors Prices
$color-valor-on: #ff0000;
$color-valor-off: #1eb368;

// Cores dispnpiveis
$color-disponivel: #00ff00;
$color-esgotado: #ff0000;

// inputs
$color-border-focus: #72a8e6;
$color-shadow-focus: #5284bd;

$border-invalid: #ff0000;
$border-shadow-invalid: #880202;

$border-valid: #349b34;
$border-shadow-valid: #277c27;