// Color App
$color-app: #0e1627;
$color-media: #172646;
$color-clara: #2d3f57;
$color-cinza: #e6e5e5;

// Colors font
$color-font: #e6eef8;
$color-white: #ffffff;
$color-font-escura: #404040;

// Borders
$border-gray: rgb(64, 64, 64, .09);