// Color App
$color-app: #0e1627;
$color-media: #172646;
$color-clara: #2d3f57;
$color-cinza: #e6e5e5;

// Colors font
$color-font: #e6eef8;
$color-white: #ffffff;
$color-font-escura: #404040;
$color-hover-fonte-escura: #2e2d2d;
$color-font-cinza: #818181;
// Borders
$border-gray: rgb(64, 64, 64, .09);

// Colors Prices
$color-valor-on: #ff0000;
$color-valor-off: #1eb368;

// Cores dispnpiveis
$color-disponivel: #00ff00;
$color-esgotado: #ff0000;